<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <ul data-target="#myCarousel" data-slide-to="" class="active"></ul>
      <ul data-target="#myCarousel" data-slide-to="" class="active"></ul>
      <ul data-target="#myCarousel" data-slide-to="" class="active"></ul>
    </ol>

      <div class="carousel-inner">

      <div class="item active">
        <img src="../assets/img/1.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Sistema fotovoltaico</h3>
        </div>
      </div>

      <div class="item">
        <img src="../assets/img/eolico.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Sistema eolico</h3>
        </div>
      </div>
    
      <div class="item">
        <img src="../assets/img/calentador.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Calentador social</h3>
        </div>
      </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previo</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>
